html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
  border: 2px solid black;
  position: relative;
}

.grid-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "Section-1 Section-1 Section-2 Section-3 Section-3 Section-4 Section-4 Section-4" "Section-1 Section-1 Section-2 Section-6 Section-6 Section-6 Section-7 Section-7" "Section-5 Section-5 Section-2 Section-6 Section-6 Section-6 Section-7 Section-7" "Section-9 Section-10 Section-10 Section-6 Section-6 Section-6 Section-11 Section-11" "Section-9 Section-10 Section-10 Section-12 Section-12 Section-12 Section-13 Section-13" "Section-9 Section-15 Section-15 Section-15 Section-16 Section-17 Section-17 Section-18" "Section-9 Section-15 Section-15 Section-15 Section-16 Section-17 Section-17 Section-20";
}

#section1 { grid-area: Section-1;
background-color: #33ff86
}

#section2 { grid-area: Section-2; 
background-color: #339fff
}

#section3 { grid-area: Section-3; 
background-color: #3336ff
}

#section5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." "Section-8 Section-8 Section-8";
  grid-area: Section-5;
background-color: #1d30b9
}

#section8 { 
  grid-area: Section-8; 
  border-width: 4px 0 0 0;
background-color: #9033ff;
}

#section4 { grid-area: Section-4; 
background-color: #3364ff
}

#section6 {
  grid-area: Section-6;
background-color: #b91d2e
}

#section7 { grid-area: Section-7; 
background-color: #eddf0d 
}

#section10 { grid-area: Section-10; 
background-color: #c8ed0d
}

#section11 { grid-area: Section-11; 
background-color: #ed620d
}

#section12 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." "Section-14 Section-14 Section-14";
  grid-area: Section-12;
background-color: #ed0db0
}

#section14 { 
  grid-area: Section-14; 
  border-width: 4px 0 0 0;
background-color: #0d25ed
}

#section13 { grid-area: Section-13; 
background-color: #20928c
}

#section15 { grid-area: Section-15; 
background-color: #8f9220
}

#section16 { grid-area: Section-16; 
background-color: #892092
}

#section17 { grid-area: Section-17; 
background-color: #171c6f
}

#section9 { grid-area: Section-9; 
background-color: #fca7fe
}

#section18 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . Section-19" ". . Section-19";
  grid-area: Section-18;
background-color: #bffea7
}

#section19 { 
  grid-area: Section-19; 
  border-width: 0 0 0 4px;
background-color: #fea7a7
}

#section20 { grid-area: Section-20; 
background-color: #defea7
}
